@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.app__main {
  min-height: 100vh;
  display: flex;
  padding-top: 10vh;
}


.animate__animated.animate__fadeInUp {
  --animate-duration: 300ms;
}